table {
    font-family: TT Lakes;
    border-collapse: collapse;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    width: 95%;
    @media (min-width: 300px) and (max-width: 767px) {
        display: none;
    }
}

th {
    color: #7E7E82;
    font-weight: 500;
    text-align: left;
    background-color: #F8F8F8;
    padding: 1rem;
}

td {
    background-color: white;
    padding: 1rem;
}

tr {
    border-bottom: 1.5px solid #F8F8F8;
}

.table__button {
    position: relative;
    bottom: 0;
    border: none;
    background: #FF3E79;
    border-radius: 20px;
    width: 119px;
    height: 32px;
    cursor: pointer;
    color: white;
    font-weight: 600;
    font-size: 12px;
    text-align: left;
    padding-left: 0.75rem;
    transition: 0.1s;
}

.table__button:hover {
    filter: drop-shadow(5px 5px 5px #FF3E79);
}

.table__button:active {
    transform: translateY(5px);
    transition: 0.1s;
}

.table__button::after {
    content: "";
    padding-left: 0.5rem;
    background-image: url('/img/dropdown.svg');
    background-repeat: no-repeat;
    margin-left: 1rem;
    position: relative;
    top: 3px;
}

.topright {
    border-radius: 0 10px 0 0;
}

.topleft {
    border-radius: 10px 0 0 0;
}

.bottomleft {
    border-radius: 0 0 0 10px;
}

.bottomright {
    border-radius: 0 0 10px 0;
}